body{
    border: 2px solid black;
    margin: auto;
    padding: 25px 25px;
}
h1{
    text-align: center;
    font-family: 'Caveat', cursive;
}
h3{
    text-align: center;
}
.inner{
    border: 2px solid black;
    margin: 5%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.image{
  height: 300px;
  width: 300px;
}
.button{
  width: 150px;
  height: 50px;
  justify-content: space-around;
}
.data{
  width: 300px;
}
form{
  text-align: right;
}